@model IEnumerable<Laboratory56.Models.Publication>

@{
    ViewData["Title"] = "Index";
}

<h2>Все публикации</h2>
<a asp-area="" asp-controller="Publications" asp-action="Create"><h4>Создать пост</h4></a>
<table class="table" width="350">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
               Like
                @* <a href="#" id="likeId">Like</a> *@
            </th>
            <th>
               Кол. Комментарии
                @* <a href="#" id="likeId">Like</a> *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/@item.ImageUrl" width="700" height="350"/>
                </td>
                    @* Здесь должен быть Имя User-а по идее но как его сюда приконектить? *@
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Like)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComentCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



