@model Laboratory56.Models.Publication


<table class="table">
    <thead>
    <tr>
        <th>
            Изображение
        </th>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th>
            Нравиться
        </th>
        <th>
            Подписки
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <img src="~/@Model.ImageUrl" width="700" height="450"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Like)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Subscription)
        </td>
    </tr>

    </tbody>

</table>

<table>
    <tbody>
    <div class="row">
        <div class="col-lg-12">
            @* Комментарии (@Model.ComentCount) *@
            @* <br/> *@
            <a onclick="openCommentForm(@Model.Id)" style="cursor: pointer">Оставить комментарий</a>
        </div>
        <div class="col-md-12" id="postdiv-@Model.Id" style="display: none; color:brown;">
            <textarea id="posttext-@Model.Id"></textarea> <br/>
            <input type="button" id="postComment" onclick="sendComment('@Model.Id', '@Model.UserId')" value="Отправить"/>
        </div>
    </div>
    </tbody>
</table>

@* *@
@* <br/> *@
@* <form asp-controller="Publications" asp-action="LikeMethod" asp-route-postId="@Model.Id" asp-route-userId="@Model.UserId"> *@
@*     <input id="LikeId" type="submit" value="Like" class="btn btn-default" onclick="sendLike('@Model.Id', '@Model.UserId')"/> *@
@* </form> *@

<br/>
<div id="postdiv-@Model.Id">
    <form>
<<<<<<< HEAD
        <input id="LikeId" type="button" value="Like" class="btn btn-default" onclick="sendLike('@Model.UserId', '@Model.Id')" />
        <input id="DisLikeId" type="button" value="Dislike" class="btn btn-default" onclick="sendDislike('@Model.UserId', '@Model.Id')" />
        <input id="subscribers" type="button" value="Subscribers" class="btn btn-default" onclick="SubScribers('@Model.UserId', '@Model.Id')" />
        <input id="unsubscribers" type="button" value="UnSubscribers" class="btn btn-default" onclick="UnSubScribers('@Model.UserId', '@Model.Id')" />
=======
        <input id="LikeId" type="button" value="Like" class="btn btn-default" onclick="sendLike('@Model.UserId', '@Model.Id')"
               style="color:aliceblue;background-color:darksalmon;"/>
        <input id="DisLikeId" type="button" value="Dislike" class="btn btn-default" onclick="sendDislike('@Model.UserId', '@Model.Id')"
               style="color:aliceblue;background-color:darksalmon;"/>
        <input id="subscribers-@Model.User" type="button" value="Subscribers" class="btn btn-default" onclick="SubScribers('@Model.UserId', '@Model.Id')"
               style="color:aliceblue;background-color:cadetblue;"/>
        <input id="unsubscribers-@Model.User" type="button" value="UnSubscribers" class="btn btn-default" onclick="UnSubScribers('@Model.UserId', '@Model.Id')"
               style="color:aliceblue;background-color:cadetblue;"/>
>>>>>>> uploadPictures
    </form>
    
</div>

<br/>
 





<hr/>

<script>
    function SubScribers(userId, postId) {
        $.ajax({
            url: '@Url.Action("SubscriptionMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
<<<<<<< HEAD
                    alert('Вы подписались на ' + '(' + $('#subscribers' + postId).val() + ')' , data)
=======
                    alert('Вы подписались :)' , data)
>>>>>>> uploadPictures
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function UnSubScribers(userId, postId) {
        $.ajax({
            url: '@Url.Action("UnSubscriptionMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
<<<<<<< HEAD
                    alert('Вы отписались на ' + '(' + $('#subscribers' + postId).val() + ')' , data)
=======
                    alert('Вы отписались :(' , data)
>>>>>>> uploadPictures
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function sendLike(userId, postId) {
        $.ajax({
            url: '@Url.Action("LikeMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы поставили Like!', data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function sendDislike(userId, postId) {
        $.ajax({
            url: '@Url.Action("DisLikeMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы поставили Disike!', data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>

<script>
    function openCommentForm(postId) {
        $('#postdiv-' + postId).show();
    }

    function sendComment(postId, userId) {
        $.ajax({
            url: '@Url.Action("Comment", "Comments")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId, 'content': $('#posttext-' + postId).val() },
            success: function(data) {
                setTimeout(function() {
                        alert('Ваш комментарий ' + '(' + $('#posttext-' + postId).val() + ')' + ' добавлен!!!',
                            data)
                    },
                    500);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>