@model Laboratory56.Models.Publication


<table class="table">

    <thead>
    <tr>
        <th>
            Изображение
        </th>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th>
            Нравиться
        </th>
        <th>
            Кол. Коментарии
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <img src="~/@Model.ImageUrl" width="700" height="350"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Like)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ComentCount)
        </td>
    </tr>

    </tbody>

</table>

<div>
    Комментарии (@Model.ComentCount)
    <br/>
    <a onclick="openCommentForm(@Model.Id)" style="cursor: pointer">Оставить комментарий</a>
</div>
<div id="postdiv-@Model.Id" style="display: none">
    <textarea id="posttext-@Model.Id"></textarea>
    <input type="button" id="postComment" onclick="sendComment('@Model.Id', '@Model.UserId')" value="Отправить"/>
</div>

@* <a asp-area="" asp-controller="Comments" asp-action="Comment">Оставить комментарий</a> *@
<br/><br/>


<input
     id="LikeId"
     type="submit"
     value="Like"
     class="btn btn-default"
     onclick="location.href = '@Url.Action("LikeMethod", "Publications", new {Model.Like, Model.UserId, Model.Id}, null)'"/>

@* <input *@
@*     id="LikeId" *@
@*     type="submit" *@
@*     value="Like" *@
@*     class="btn btn-default"/> *@

<hr/>


@*  <script> *@
@*         $(document).ready(function() { *@
@*             $('#submit').click(function(e) { *@
@*                 e.preventDefault(); *@
@*                 var str = $('#LikeId').val(); *@
@*                 str = encodeURIComponent(str); *@
@*                 $('#result').load('@Url.Action("LikeMethod", "Publications")?like, PostId, userId'); *@
@*             }); *@
@*         }); *@
@* </script> *@


<script>
    function openCommentForm(postId) {
        $('#postdiv-' + postId).show();
    }

    function sendComment(postId, userId) {
        $.ajax({
            url: '@Url.Action("Comment", "Comments")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId, 'content': $('#posttext-' + postId).val() },
            success: function(data) {
                console.log('все ок', data);
            },
            error: function() { 
                console.log('Ошибка во время отправки комментария', this);
            }

        });
    }


</script>