@model Laboratory56.Models.Publication

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Изображение
            </th>
            <th>
                Имя
            </th>
            <th>
                Описание
            </th>
            <th>
                Нравиться
            </th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <a href="#" data-toggle="popover" data-trigger="hover" id="@Model.Id">
                    <img src="~/@Model.ImageUrl" width="700" height="450" />
                </a>
            </td>
            <td>

                <a asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@Model.User.Id" data-toggle="popover" data-trigger="hover" id="@Model.Id">@Model.User.Name</a>
                @* <a href="#" data-toggle="popover" data-trigger="hover" id="@Model.Id">@Model.User.Name</a> *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Like)
            </td>
        </tr>

    </tbody>

</table>

@*
@if (Model.CommentsList.Count <= 0)
{
    <tr>
        <td>
            No Comment
        </td>
    </tr>
}
else
{
    foreach (var item in Model.CommentsList)
    {
        <a asp-controller="ApplicationUsers"
           asp-action="Details"
           asp-route-id="@item.User.Id">@item.User.Name:</a><p>@item.Content</p>
    }
}
*@

<hr />

@if (Model.CommentsList.Count <= 0)
{
    <tr>
        <td>
            No Comment
        </td>
    </tr>
}
else
{
    foreach (var item in Model.CommentsList)
    {
        <a asp-controller="ApplicationUsers"
           asp-action="Details"
           asp-route-id="@item.User.Id">@item.User.Name:</a><p>@item.Content</p>
    }
}



<table>
    <tbody>
        <div class="row">
            <div class="col-lg-12">
                <a onclick="openCommentForm(@Model.Id)" style="cursor: pointer; color: darkslategray;">Оставить комментарий</a>
            </div>
            <div class="col-md-12" id="postdiv-@Model.Id" style="display: none; color: darkslategray;">
                <textarea id="posttext-@Model.Id"></textarea> <br />
                <input type="button" id="postComment" onclick="sendComment('@Model.Id', '@Model.UserId')" value="Отправить" />
            </div>
        </div>
    </tbody>
</table>
<br />

<div id="postdiv-@Model.Id">

    <form>
        <input id="LikeId" type="button" value="Like" class="btn btn-default" onclick="sendLike('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: darksalmon;" />
        <input id="DisLikeId" type="button" value="Dislike" class="btn btn-default" onclick="sendDislike('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: darksalmon;" />

        <input id="subscribers-@Model.User" type="button" value="Subscribers" class="btn btn-default" onclick="SubScribers('@Model.UserId', '@Model.Id')"
               style="color: aliceblue; background-color: cadetblue;" />

        @*<input id="unsubscribers-@Model.User" type="button" value="UnSubscribers" class="btn btn-default" onclick="UnSubScribers('@Model.UserId', '@Model.Id')"
            style="color: aliceblue; background-color: cadetblue;"/>*@
    </form>

</div>
<hr />
<br />


<script>
    function SubScribers(userId, postId) {
        $.ajax({
            url: '@Url.Action("SubscriptionMethod", "Publications")',
            type: 'POST',
            data: { 'userId': userId, 'postId': postId},
            success: function(data) {
                setTimeout(function() {
                        alert('Вы подписались :)', data)},
                    100);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }

    function UnSubScribers(userId, postId) {
        $.ajax({
            url: '@Url.Action("UnSubscriptionMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы отписались :(', data)
                    },
                    100);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }

    function sendLike(userId, postId) {
        $.ajax({
            url: '@Url.Action("LikeMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы поставили Like!', data)},
                    100);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }

    function sendDislike(userId, postId) {
        $.ajax({
            url: '@Url.Action("DisLikeMethod", "Publications")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId },
            success: function(data) {
                setTimeout(function() {
                        alert('Вы поставили Disike!', data)},
                    100);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }


    function openCommentForm(postId) {
        $('#postdiv-' + postId).show();
    }

    function sendComment(postId, userId) {
        $.ajax({
            url: '@Url.Action("Comment", "Comments")',
            type: 'POST',
            data: { 'postId': postId, 'userId': userId, 'content': $('#posttext-' + postId).val() },
            success: function(data) {
                setTimeout(function() {
                        alert('Ваш комментарий ' + '(' + $('#posttext-' + postId).val() + ')' + ' добавлен!!!',
                            data)
                    },
                    100);
            },
            error: function() {
                console.log('Ошибка во время отправки комментария', this);
            }
        });
    }
</script>