@model IEnumerable<Laboratory56.Models.Comment>

@{
    ViewData["Title"] = "Comment";
}

<h2>Comment</h2>

<p>
    <a asp-action="Create">Create New Comment</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <tr>
                <td>
                    <textarea></textarea>
                </td>
                <td>
                    <input type="hidden" name="PostId" value="@item.PostId" />
                    <input type="hidden" name="UserId" value="0" />
                    <input type="submit" value="Send" />
                </td>
            </tr>
        </tr>
    }
    </tbody>
</table>


